svg {
    fill: transparent;
}

circle.rna-base {
  stroke: #ccc;
  stroke-width: 1px;
  opacity: 1;
  fill: white;
}

circle.rna-base.label {
    stroke: transparent;
    stroke-width: 0;
    fill: white;
}

circle.rna-base[data-base="a"] {
  fill: #dbdb8d;
}

circle.rna-base[data-base="c"] {
  fill: #98df8a;
}

circle.rna-base[data-base="g"] {
  fill: #ff9896;
}

circle.rna-base[data-base="u"], circle.rna-base[data-base="t"] {
  fill: #aec7e8;
}

line.rna-link {
  stroke: #999;
  stroke-opacity: 0.8;
  stroke-width: 2;
}

.overlay {
    fill: transparent;
}

.rna-name {
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bolder;
    font-size: 1.2em;
    fill: rgba(200, 200, 200, 0.5);
}

path {
    stroke: grey;
    stroke-width: 2;
}

line.basepair {
  stroke: red;
}

line.intermolecule {
  stroke: blue;
}

line.chain_chain {
  stroke-dasharray: 3,3;
}

line.fake {
  stroke: green;
}

.transparent {
    fill: transparent;
    stroke-width: 0;
    stroke-opacity: 0;
    opacity: 0;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 6px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 4px;
    pointer-events: none;
          }

text.nucleotide-label, text.number-label {
    font-size: 5.5pt;
    font-weight: bold;
    font-family: Tahoma, Geneva, sans-serif;
    color: rgb(100,100,100);
    pointer-events: none;
    fill: #333;
}